alias="vi ~/.aliases"
alias art="php artisan"
alias vt="vendor/bin/phpunit"
alias sites="cd ~/sites"
alias gs="git status"
alias ga="git add -A"
alias gc="git commit -m"
alias gl="git log"
alias wc="cd ~/Sites/Investoo/web-compose"
